*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #f5f5f5;
}
nav{
    position: absolute;
    display: inline;
    width: 40%;
    top: 46%;
    text-align: center;
    background-color: black;
    left: 32%;
    padding: 20px 0px;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: #a6a398;
    font-size: 20px;
    font-weight: bold;
}
.nav-item{
    margin: 25px;
}
.nav-item:nth-child(3){
    color: #72f5bc;
}